{% set appeal = [
	{"text": "Компания автогал предлагает помощь в выборе или покупке авто уже больше пяти лет. за нашими плечами ограмный опыт в подборе автомобилей на территории россии. Коллектив автогал имеет опыт работы в крупных диллерских центрах и знает структуру автомобольного бизнеса изнутри. Обращайтесь в компанию автогал, наши эксперты готовы выполнить заказ самого требовательного клиента.", "autor": "Александр Галимшин", "employee": "Генеральный директор"
	}
]%}

<div class="appeal">
	<div class="block appeal__block">
		<h2>Уважаемые посетители</h2>
		<div>
			<div class="appeal__text">
				{% for item in appeal %}
				<p> {{ item.text }}</p>
				<span>{{ item.autor }}</span><br>
				<span>{{ item.employee }}</span>
				{% endfor %}
			</div>
			<img src="/images/man.png" alt="">
		</div>
	</div>
</div>