
{% set causes = [
    {"title": "Мы специалисты", "img": "/images/shit.png", "text": "Нам известны все схемы \"работы\" автосалонов и перекупщиков. Смотанный пробег, скрытые прблемы двигателя,участие в ДТП и многое другое мы определяем мгновенно!"
    },
    {"title": "Экономия времени", "img": "/images/clock.png", "text": "Вам не нужно тратить драгоценное время и нервы на многочисленные осмотры проблемных автомобилей. Мы сделаем это за Вас."
    },
    {"title": "Реальная экономия денег", "img": "/images/holder.png", "text": "Вы всегда в выигрыше: сумма проведенного нами торга практически всегда превышает стоимость наших услуг."
    },
    {"title": "Глобальный поиск", "img": "/images/lupa.png", "text": "Мы производим подбор авто не только в Екатеринбурге, но и по всей России. Как результат - находим самые \"вкусные\" предложения!"
    },
    {"title": "Экспертное заключение", "img": "/images/men.png", "text": "Мы готовим экспертный лист со всей необходимой информацией по выбранному Вами автомобилю."
    },
    {"title": "Гарантия от AutoGal", "img": "/images/hand1.png", "text":"Мы остаемся с вами до самого финиша, предоставляя гарантию и рекомендацию по обслуживанию на по обслуживанию для каждого автомобиля."
    }
]%}



<div class="block block__causes causes" id="causes">
	<h2>Почему стоит обратиться именно к нам</h2>
	<ul class="causes__list clearfix">
		{% for  item in causes %}
			<li  class="causes__item item">
				<div class="causes__front">
					<span>
						<img src="{{ item.img }}" alt = "">
					</span><br><br>
					<span>{{ item.title }}</span>
					<p>{{ item.text }} </p>
				</div>

				<div class="card causes__back">
					<span>{{ item.title }}</span>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script >
	$(document).ready(function() {
    $(".causes__item").hover(
    	function () { $(this).addClass("flip") },   //on mouse over
    	function () { $(this).removeClass("flip") } //on mouse out
    );
});
</script>





