
{% set chart = [
    {"title": "Невидимые дефекты", "img": "/images/defect.png", "text": "Подавляющее большинство клиентов обнаруживают множество дефектов только вовремя эксплуатации авто."
    },
    {"title": "Угнанный автомобиль", "img": "/images/men1.png", "text": "Мы поможем выявить обман. Мы распознаем маркировочные обозначения и подлинность документов на автомобиль."
    },
    {"title": "Автомобиль с обременением", "img": "/images/carSmall2.png", "text": "Сообщим, если автомобиль находится в залоге у банка, имеет запрет регистрационных действий и другие обременения."
    },
    {"title": "Автомобиль из салона", "img": "/images/money.png", "text": "Велика опасность купить авто с завышенным годом выпуска. Так же, не разбираясь в ценовой политике, можно переплатить огромные деньги."
    },
    {"title": "Автомобиль-конструктор", "img": "/images/lable.png", "text": "Покупка авто после серьезного ДТП. Можно приобрести автомобиль-конструктор, то есть сваренный из нескольких частей."
    },
    {"title": "Мошенничество с приборами", "img": "/images/alarm.png", "text": "Продажа авто со \"смотанным\" одометром встречается крайне часто. Нередко продавцы гасят лампочки датчиков"
    }
]%}

<div class="block block__chart chart">
	<h2>ТОП проблем при самостоятельном подборе авто</h2>
	<ul class="chart__list clearfix">
		{% for  item in chart %}
			<li class="chart__item item">
				<span>
					<img src="{{ item.img }}" alt = "">
				</span><br><br>
				<span>{{ item.title }}</span>
				<p>{{ item.text }}</p>
				<span class="chart__number"> 0{{ loop.index }}</span>
			</li>
		{% endfor %}
	</ul>
</div>
