
{% set cost = [

    {"img" :"/images/1273.png", "title": "Осмотр ЛКП","cost": "от 1000 руб.", 
    "list": [
        { "item": "Визуальный осмотр на участие в ДТП"}, 
        { "item": "Замер толщины ЛКП прибором"}
        ]
    },
    {"img" :"/images/1079.png", "title": "Выездная диагностика","cost": "от 4550 руб.", 
    "list": [
    	{ "item": "Осмотр кузовных панелей"},
    	{ "item": "Замер толщины ЛКП прибором"}, 
    	{ "item": "Осмотр кузовных швов и стыков"}, 
    	{ "item": "поверка работоспособности всех узлов и агрегатов"}, 
        { "item": "проведение юридической и криминалистической проверки"}
    	]
    },
    {"img" :"/images/1080.png", "title": "Специалист на день","cost": "от 5000 руб.", 
    "list": [
        { "item": "Неограниченное количество автомобилей в течение дня"},
    	{ "item": "Комплексный осмотр на участие в ДТП и наличие ремонтов"}, 
    	{ "item": "Осмотр салона"}, 
    	{ "item": "поверка работоспособности всех узлов и агрегатов"}, 
    	{ "item": "проведение юридической и криминалистической проверки"}
    	]
    },
    {"img" :"/images/1081.png", "title": "Подбор под ключ","cost": "от 16000 руб.", 
    "list": [
    	{ "item": "Полная экономия Вашего времени"}, 
    	{ "item": "Поиск именно того авто, который Вы хотели"}, 
    	{ "item": "Комплексная диагностика по 100 пунктам"}, 
    	{ "item": "Сопровождение во время покупки и регистрации"}, 
        { "item": "Полис ОСАГО не выходя из дома"}, 
        { "item": "Техническая и юридическая гарантия 30 дней"}
    	]
    }
]%}
<div class="cost" id="cost">
	<div class="block block__cost ">
		<h2>Стоимость услуг</h2>
		<ul class="cost__list">
			{% for  item in cost %}
				<li class="cost__item item">
					<div class="cost__item__img">
						<img src="{{ item.img }}" alt = "">
						<span>{{ item.title }}</span><br>
						<span>{{ item.cost }}</span>
					</div>
					<ul class="cost__list-info">
						{% for  items in item.list %}
							<li class="cost__list-info__item">{{ items.item }}</li>
						{% endfor %}
					</ul>
					<!-- <a class="button cost__button" href="">Заказать услугу</a> -->
                    <label for="popupCheckboxOne" class=" button cost__button">Заказать услугу</label>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>