<div class="footer">
	<div class="footer__container container">
		<a href="/" class="footer__logo">
			<img src="images/logo.png" class="logo__image" alt="AutoGal" />
		</a><br>
		<span class="footer__copy">©AutoGal, 2017</span>
		<div class="social">
			<span>мы в социальных сетях</span>
			<ul class="social__list">
				<li class="social__item"><a href=""><img src="/images/vk.png" alt=""></a></li>
				<li class="social__item"><a href=""><img src="/images/instagram.png" alt=""></a></li>
				<li class="social__item"><a href=""><img src="/images/facebook.png" alt=""></a></li>
			</ul>
		</div>
	</div>
</div>