<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckboxOne">
  <div class="popup">
    <div class="popup-content">
    <div id="hidden2">
    <h1>оставьте заявку</h1>
    <span>и мы Вам перезвоним</span>
    <form class="ajax-mail-form" data-type="callback">
    	<input type="text" name="name" placeholder="Ваше имя">
    	<input type="phone" name="phone" placeholder="Ваш телефон">
      <button class="podbor__button button">Написать</button>
    </form>
</div>
      <label for="popupCheckboxOne" class="popup-closer">&#215;</label>

      <div class="approved2" id="approved2" style="visibility: hidden">
          <span>Спасибо!</span><br>
          <span>Ваша заявка принята!</span><br>
          <span>Менеджер свяжется с Вами в ближайшее время!</span><br>
          <a href="" class="button">вернуться назад</a>
          <label for="popupCheckboxOne" class="popup-closer">&#215;</label>
      </div>
    </div>
  </div>
</div>





