<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckboxOne">
  <div class="popup">
    <div class="popup-content">
    <h1>оставьте заявку</h1>
    <span>и мы Вам перезвоним</span>
    <form>
    	<input type="text" name="name" placeholder="Ваше имя">
    	<input type="phone" name="phone" placeholder="Ваш телефон">
      <button class="podbor__button button">Написать</button>
    </form>
      <label for="popupCheckboxOne" class="popup-closer">&#215;</label>
    </div>
  </div>
</div>



