<div class="header">
    <div class="header__container container">
		<a href="/" class="logo">
			<img src="images/logo.png" alt = "AutoGal" class="logo__image" />
		</a>
		<ul class="menu heder__menu">
			<li class="menu__item"><a href="#hello">о нас</a></li>
			<li class="menu__item"><a href="#causes">почему мы</a></li>
			<li class="menu__item"><a href="#cost">наши услуги</a></li>
			<li class="menu__item"><a href="#step">этапы работы</a></li>
			<li class="menu__item"><a href="#slider">отзывы</a></li>
			<li class="menu__item"><a href="#contact">контакты</a></li>
		</ul>
		<span class="phone"><img alt = "" src="images/phone.png"> +7(912)636-00-69</span>
	</div>
</div>



