{% set advantages = [
    {"title": "Экономия времени", "img": "/images/clock.png", "text": "Все хлопоты по приобретению выбранного Вами автомобиля мы возьмем на себя."
    },
    {"title": "Безопасность", "img": "/images/shit.png", "text": "Вы не попадетесь на удочку мошенников, которые продают &#171;серые&#187; автомобили. Проводим полную проверку."
    },
    {"title": "Полная окупаемость услуг", "img": "/images/holder.png", "text": "В 90% случаев мы можем сторговать сумму, превышающую стоимость наших услуг."
    }
]%}



<div class="hello" id="hello">
	<div class="hello__content block">
		<div class="hello__text">
			<span>подберем авто с пробегом за 72 часа</span>
			<p>Помощь при покупке автомобиля с пробегом<br> от Ваших пожеланий до получения документов в ГИБДД от опытных специалистов.</p>
		</div>
		{% include 'form-input.html' %}
		<div class="advantages">
			<ul class="advantages__list">
				{% for  item in advantages %}
					<li class="advantages__item">
						<span>
							<img src="{{ item.img }}" alt = "">
						</span><br><br>
						<span>{{ item.title }}</span>
						<p>{{ item.text }}</p>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
		

</div>


