
{% set inspection = [
    {"title": "Электронные системы:", "img": "/images/1208.png", "imgSmall": "/images/689.png", "text": "проверим работоспособность всех электронных систем и блоков автомобиля, определим пробег."
    },
     {"title": "Двигатель:", "img": "/images/1195.png", "imgSmall": "/images/685.png", "text": "определим степень износа двигателя, герметичность прокладок и сальников, состояние навесного оборудования, приводных ремней."
    },
     {"title": "Кузов:", "img": "/images/1196.png", "imgSmall": "/images/694.png", "text": "выявим следы ДТП, определим целостность несущей конструкции кузова и «неродные» кузовные части."
    },
     {"title": "Салон автомобиля", "img": "/images/1199.png", "imgSmall": "/images/696.png", "text": "– отличный индикатор общего отношения предыдущего владельца к автомобилю. По нему мы определяем оригинальный пробег и снятие/установку элементов обшивки."
    },
     {"title": "Коробка передач", "img": "/images/1200.png", "imgSmall": "/images/698.png", "text": "проверяется нами на работоспособность в разных режимах. По ней мы определяем качество обслуживания и остаточный ресурс"
    },
     {"title": "Юридическую чистоту:", "img": "/images/1207.png", "imgSmall": "/images/730.png", "text": "проверим маркировочные нанесения на вмешательство, подлинность всех документов на автомобиль; проведем максимально объемную проверку н объединения."
    }
]%}

<div class="  inspection block__inspection block">
	<h2>Что мы проверяем</h2>
	<ul class="inspection__list">
		{% for  item in inspection %}
			<li class="inspection__item item">
				<div class="inspection__item-block">
					<div class="inspection__item__img">
						<img src="{{ item.img }}" alt = "">
						<span><img src="{{ item.imgSmall }}" alt = ""></span>
					</div>
				<span>{{ item.title }}</span>
				<p>{{ item.text }}</p>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>