
{% set slider = [
    {"title": "Mersedes-Benz", "year":"2014г", "cost": "900 000 pуб.", "text" :"Спасибо ребятам из компании AutoGal, а именно Максимую. побобрали отличный автомобиль, что сейчас довольно непросто, т.к. большая часть объявлений это автохлам или разного вида развод) Так же считаю важным тот момент, что в любое время дня и ночи ваш агент готов оперативно ответить на любой интересующий вас вопрос или что-то подсказать) Обязательно обратимся к вам еще раз и всем рекомендуем))" 
    }, 
    {"title": "Mersedes", "year":"2014г", "cost": "900 000 pуб.", "text" :"На сегодняшний день заключено более 80 партнерских договоров с официальными дилерами Москвы и Санкт-Петербурга, что позволяет иметь доступ к любой информации по автомобилю, которую зачастую скрывают от глаз обычных покупателей." 
    }, 
    {"title": "Mersedes", "year":"2014г", "cost": "900 000 pуб.", "text" :"На сегодняшний день заключено более 80 партнерских договоров с официальными дилерами Москвы и Санкт-Петербурга, что позволяет иметь доступ к любой информации по автомобилю, которую зачастую скрывают от глаз обычных покупателей." 
    }
]%}
<div class="slider" id="slider">
	<div class="block block__slider ">
		<h2>Подобранные нами автомобили</h2>
<div class="regular">
			{% for  item in slider %}
				<div class="slider__item" style="width: 890px;" >
					<div class="slider__info">
						<span class="car"><img src="/images/carSmall.png"  alt = ""></span>
						<p>
							<span class="name">{{ item.title }}</span><br>
							<span class="year">{{ item.year }}, {{ item.cost }}</span>
						</p>
						<div class="slider__feedback">
							<span>Отзыв клиента:</span>
							<p>{{ item.text }}</p>
						</div>
					</div>
					<img src="/images/hand.png" alt = "">
				</div>
			{% endfor %}

			</div>
			<a class="arrow arrow_left" id="arrowleft" href=""></a>
			<a class="arrow arrow_right" id="arrowright" href=""></a>
		
	</div>
</div>






