
{% set step = [
    {"title": "Заявка", "img": "/images/one.png", "text": "Вы оставляете заявку.<br>Мы связываемся с Вами и уточняем все детали подбора автомобиля."
    },
    {"title": "Заключение договора", "img": "/images/2.png", "text": "Заключаем договор.<br> Для этого нелбязательно приезжать к нам. Мы можем подъехать в удобное для Вас место и время."
    },
    {"title": "Поиск автомобиля", "img": "/images/3.png", "text": "Поиск подходящего автомобиля с учетом ваших пожеланий: марка и модель, год выпуска, пробег, модификация, комплектация, состояние автомобиля."
    },
    {"title": "Проверка автомобиля", "img": "/images/4.png", "text": "Проведем комплексную техническую, юридическую, криминалистическую проверку в сервис-партнере (БТК-сервис)."
    },
    {"title": "Торг с продавцом", "img": "/images/5.png", "text": "Учитывая все выявленные недочеты по автомобилю, специалист максимально снижает стоимость автомобиля в торге с продавцом."
    },
    {"title": "Организация сделки", "img": "/images/6.png", "text": "Полностью сопроводим Вас на всех этапах покупки и регистрации авто, привезем полис ОСАГО, дадим рекомендации по дальнейшему обслуживанию."
    }
]%}

<div class="block block__step step" id="step">
	<h2>Контакты</h2>
	<div class="step-block">
	<ul class="step__list">
		{% for  item in step %}
		<li class="step__item">
		<span> <img src="{{ item.img }}" alt = ""> {{ item.title }}</span><br>
		<div class=" step__item-block item">
		
			
				<!-- <span>
					<img src="{{ item.img }}">
				</span> -->
				
				<p><img  src="/images/circle.png" alt = "">{{ item.text }} </p>
			
			</div>
			</li>
		{% endfor %}
	</ul>
</div>
</div>