.causes{
	& h2{
		text-align: center;
		margin-bottom: 60px;

		&:after{
			left: 50%;
			margin-left: -30px;
		}
	}
	&__front{
		padding: 0 30px;
	}
	&__back{
		transform: rotateY( 180deg );
		background: #5ecef7;
		text-align: center;
		vertical-align: middle;
		padding-top: 50px;
		width: 100%;
		& span{
			color: white;
			font-size: 24px;
		}
	}
	&__list{
		font-size: 0;
		.block-flex;
		perspective: 2000px;
	}
	&__item{
		width: 33%;
		height: 250px;
		padding: 20px;
		transition: transform 1s;
		transform-style: preserve-3d;
		position: relative;

		& > div{
			backface-visibility: hidden;
			height: 75%;
			position: absolute;
			top: 0;
			left: 0;
		}

		& span{
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 15px;
			display: inline-block;
		}
	}
}
.flip{
	transform: rotateY( 180deg );
}


@media (max-width: 1000px){
	
	.causes{
		&__item{
			width: 50%;
			height: 250px;
			
		}
		&__front{
			padding: 0 10px;
		}
	}
}
@media (max-width: 600px){
	
	.causes{
		&__item{
			width: 100%;
			height: 220px;
		}
		&__list{
			padding: 0 50px;
		}
	}
}
@media (max-width: 400px){
	
	.causes{
		&__item{
			height: 250px;
		}
		&__list{
			padding: 0px;
		}
	}
}


