@import "var";

.logo{
	float: left;
	width: 300px;
	height: 60px;
	position: relative;
	margin-bottom: -15px;
	margin-top: -25px;
	top: 5px;

	&__image{
		max-height: 60px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}

.phone{
	font-family: RobotoM;
	color: white;
	font-size: 14px;
	margin-left: 70px;
	white-space: nowrap;

	& img{
		margin-right:10px;
		vertical-align: middle;
	}
}

.menu{
	display: inline-block;
	font-size: 0;
	white-space: nowrap;

	&__item{
		display: inline-block;
		font-size: 12px;
		margin: 0 15px;
		white-space: nowrap;

		& a{
			padding: 20px 0;
			text-transform: uppercase;
			font-family: RobotoM;
			color: white;

			&:hover{
				border-top: 3px solid @c-blue;
			}
		}
	}
	&__block{
		position: absolute;
		right: 20px;
		top: 10px;
		display: flex;

		&__list{
			width: 250px;

			background: #171616;
			
			
		}

		&__item{
			height: 60px;
			text-align: center;
			& > a{
				color: white;
				text-transform: uppercase;
				font-family: RobotoM;
				font-size: 12px;
				
				display: block;
				line-height: 60px;
			}

			&:hover{
				background: #5ecef7;
			}
		}
	}
		&__icon{
		background: url(../images/menu.png);
		width: 50px;
		height: 41px;
		display: block;
		background-repeat: no-repeat;
		background-size: 100%;

		&_close{
			width: 50px;
			height: 40px;
			display: block;
			background: url(../images/close.png);
			background-size: 60%;
			background-position: 50%;
			background-repeat: no-repeat;
		}
	}
}

.header{
	position: fixed;
	top: 0;
	z-index: 10;
	
	background: rgba(0, 0, 0, 0.7);
	padding: 20px 75px 20px 75px;
	width: 100%;
	box-sizing: border-box;

	&__top{
		padding: 45px 0 50px;
	}
	&__menu{
	}
	&__container{
		display: flex;
		justify-content: space-between;
		align-items: center;	
	}
}

@media (min-width: 1000px){
	.header{
		
	}
	.page__inner{
		min-width: 1170px;
	}
	.menu, .phone{
			display: block;
		}
		.menu__block{
			display: none;
		}
}
@media (max-width: 1000px){
	.header{
		padding-left: 0;
		padding-right: 30px;	
	}
	.block{
		padding-left: 70px;
		padding-right: 70px;
	}

	.menu, .phone{
			display: none;
		}
		.menu__block{
			display: flex;
		}

}
@media (max-width: 800px){
	.block{
		padding-left: 20px;
		padding-right: 20px;

	}

		.logo{
	
	width: 200px;
	

	&__image{
		max-height: 60px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}
}
@media (max-width: 600px){
.menu{
	display: none;
	}
}